.contactWrap8 {
  display: flex;
  gap: 90px;
  padding: 70px 80px;
  background: #fbfbf2;
  align-items: flex-start;
}

/* MAP */
.mapWrap8 {
  flex: 1;
  border-radius: 24px;
  overflow: hidden;
}

.mapWrap8 iframe {
  width: 100%;
  height: 700px;
  border: 0;
}

/* CONTENT */
.contentWrap8 {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Reduced for Framer-like spacing */
}

/* INFO */
.info8 h2 {
  font-size: 40px;
  font-weight: 500;
  color: #2f3e2f;
  margin-bottom: 16px;
}

.info8 p {
  font-size: 15px;
  line-height: 1.6;
  color: #5c6b5c;
  max-width: 520px;
  margin-bottom: 15px;
}

.infoItem8 span {
  font-size: 13px;
  letter-spacing: 1px;
  color: #525352;
  font-weight: bold;
}

.infoItem8 p {
  font-size: 15px;
  color: #2f3e2f;
  /* margin: 6px 0 18px; */
}

/* FORM */
.formWrap8 h3 {
  font-size: 34px;
  font-weight: 500;
  color: #2f3e2f;
  margin-bottom: 22px; /* Reduced spacing */
}

.inputRow8 {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
}

.inputRow8 input,
.formWrap8 textarea {
  width: 100%;
  background: #e6ede6;
  border: none;
  border-radius: 12px;
  padding: 14px 16px;
  font-size: 14px;
  outline: none;
}

.formWrap8 textarea {
  min-height: 120px;
  max-height: 320px;
  resize: none;
  overflow: hidden;
  margin-bottom: 24px;
  transition: height 0.2s ease;
}

/* BUTTON */
.formWrap8 button {
  width: 100%;
  background: #394d39;
  color: white;
  border: none;
  padding: 11px;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
}
