.slide {
  position: relative;
  height: 520px;
  background: #f7f8f2;
  overflow: hidden;
  cursor: pointer;
}
.bgImage {
  position: absolute;
  left: 40px;
  top: 50%;
  width: 45%;
  height: 70%;
  transform: translateY(-50%);
  object-fit: cover;
  border-radius: 20px;
  /* transition: transform 0.2s ease; */
}
.open .bgImage {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  border-radius: 0;
}
.textBlock {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease;
  z-index: 2;
}
.open .textBlock {
  left: 60px;
  color: white;
}
.textBlock h1 {
  font-size: 72px;
  line-height: 1.1;
  margin-bottom: 40px;
}
.info {
  display: flex;
  gap: 40px;
}
.info p{
  font-weight: bold;
}
.info span {
  font-size: 13px;
  opacity: 0.8;
}
.rightContent {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  color: white;
  opacity: 0;
  /* transition: opacity 0.8s ease 0.3s; */
}
.open .rightContent {
  opacity: 1;
}

.rightContent h5 {
  margin: 0;
  padding-top: 10px;
  font-weight: 700;
  color: white;
  /* line-height: 1.5; */
  font-size: 18px;
}
.rightContent p
{
  margin: 0;
  padding-top: 10px;
color: #e1e1e0;
  font-size: 15px;
}