/* ================= NAVBAR ================= */
.navbar {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navLinks li a {
  text-decoration: none;
  color: #302e2e;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
}

.search {
  font-size: 18px;
  cursor: pointer;
}

.hero {
  position: relative;
  height: 15vh;
  overflow: hidden;
  color: rgb(16, 16, 16);
  background-color: white;
  display: flex;
  align-items: center;
}



/* ================= NAVBAR ================= */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 24px 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 3;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.navLinks {
  display: flex;
  gap: 36px;
  list-style: none;
  font-size: 14px;
  opacity: 0.9;
}

.search {
  font-size: 18px;
}

/* FEATURE CARDS */
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 5rem;
}

.Iconcard {
  background-color: #e1ebe2;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  font-size: 20px;
}

.Iconcard p {
  font-size: 20px;
  font-weight: 600;
  color: #374836;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .content {
    grid-template-columns: 1fr;
  }

  .sideImage {
    height: 300px;
  }
}
.SDetails {
  background-color: rgb(249, 251, 243);
  padding-top: 5rem;
}
.parent {
  padding: 0 80px;
  margin-bottom: 30px;
}
.breadcrumb a {
  color: #374836 !important;
  padding-right: 10px;
  font-size: 16px;
}

.breadcrumb h1 {
  font-size: 80px;
  color: #374836;
}

.main {
  border-radius: 20px;
  width: 100%;
  height: 400px;
}

.main img,
.side img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.side {
  width: 100%;
  border-radius: 20px;
  height: 530px;
}

.paras {
  padding-top: 5rem;
}

.paras p {
  color: #374836 !important;
  padding-bottom: 20px;
  font-size: 20px;
}
.section2 {
  background: #3f4f3c;
  padding: 80px 90px;
  color: white;
}

/* HEADER */
.header2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header2 h2 {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.15;
}

.header2 h2 span {
  opacity: 0.35;
}

.tag2 {
  font-size: 13px;
  letter-spacing: 2px;
}

/* TIMELINE */
.timeline2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* HORIZONTAL LINE */
.horizontalLine {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(-50%);
}

/* STEP */
.step2 {
  max-width: 360px;
}

.step2 h4 {
  font-size: 18px;
  margin-bottom: 12px;
}

.step2 p {
  font-size: 14px;
  line-height: 1.7;
  opacity: 0.75;
}

/* LEFT SIDE (01 & 03) */
.left {
  justify-self: start;
  padding-top: 60px;
  padding-left: 30px;
  border-left: 1px dashed rgba(255, 255, 255, 0.35);
}

/* RIGHT SIDE (02 & 04) */
.right {
  justify-self: end;
  padding-bottom: 60px;
  padding-left: 30px;
  border-left: 1px dashed rgba(255, 255, 255, 0.35);
}


@media (max-width:1921px){
 .timeline2{
    padding-top: 5rem;
  }
   .feature1 h4,.step2 h4{
    font-size: 24px;
  }
   .header2 h2 ,.title4 ,.title5{
    font-size: 80px;
  }
}
@media (max-width:1439px){
  .Iconcard p, .paras p{
    font-size: 16px;
  }
 
}
