.hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
  color: white;
}

/* Background image */
.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 50px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.logo {
  font-size: 25px;
  font-weight: 500;
}

.navLinks {
  display: flex;
  gap: 36px;
  list-style: none;
  border: none;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
}

.search {
  font-size: 18px;
}

.heroContent {
  position: absolute;
  left: 64px;
  bottom: 80px;
  /* earlier 120px */
  z-index: 2;
}

.breadcrumb {
  font-size: 14px;
  opacity: 0.85;
  margin-bottom: 18px;
}

.breadcrumb span {
  margin: 0 6px;
}

.title {
  font-size: 84px;
  font-weight: 500;
  line-height: 1;
}

/* ACTIVE NAV LINK */
.activeLink {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

/* BREADCRUMB LINKS */
.breadLink {
  color: white;
  text-decoration: none;
  opacity: 0.85;
}

.breadLink:hover {
  opacity: 1;
  text-decoration: underline;
}


.service {
  padding: 0 80px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.Scard {
  position: relative;
  border-radius: 20px;
  height: 450px;
  overflow: hidden;
  cursor: pointer;
}

.Scard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* Dark overlay layer */
.Scard::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(55, 72, 54, 0.75);
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Text overlay */
.overlay {
  position: absolute;
  color: white;
  padding: 40% 0 20px 20px;
  z-index: 2;
  transition: transform 0.4s ease;
}

/* Arrow icon */
.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #000;
  z-index: 3;
  /* opacity: 0; */
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.Scard:hover::after {
  opacity: 1;
}

@media (max-width:1439px){
 .Scard{
  height: 320px;
 }
 .overlay{
  padding: 45% 0 0  20px;
 }
}